source/Infrastructure/Azure/Settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="InfrastructureSettings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ServiceBus" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ServiceUriScheme" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="ServiceNamespace" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="ServicePath" minOccurs="1" maxOccurs="1" />
                            <xs:element name="TokenIssuer" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="TokenAccessKey" type="xs:string" minOccurs="1" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EventSourcing" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ConnectionString" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="TableName" type="xs:string" minOccurs="1" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MessageLog" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ConnectionString" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="TableName" type="xs:string" minOccurs="1" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>