source/Infrastructure/Azure/Settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="urn:microsoft-patterns-and-practices-cqrsjourney"
           xmlns:cqrs="urn:microsoft-patterns-and-practices-cqrsjourney">
    <xs:element name="InfrastructureSettings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ServiceBus" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ServiceUriScheme" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="ServiceNamespace" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="ServicePath" minOccurs="1" maxOccurs="1" />
                            <xs:element name="TokenIssuer" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="TokenAccessKey" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="Topics" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Topic" minOccurs="0" maxOccurs="unbounded" >
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Subscription">
                                                        <xs:complexType>
                                                            <xs:attribute name="Name" type="cqrs:AzureSubscriptionName" use="required" />
                                                            <xs:attribute name="RequiresSession" type="xs:boolean" use="required"/>
                                                            <xs:attribute name="SqlFilter" type="xs:string" use="optional" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MigrationSupport" minOccurs="0" maxOccurs="1">
                                                      <xs:complexType>
                                                        <xs:sequence>
                                                          <xs:element name="UpdateSubscriptionIfExists" minOccurs="0" maxOccurs="unbounded" >
                                                            <xs:complexType>
                                                              <xs:attribute name="Name" type="cqrs:AzureSubscriptionName" use="required" />
                                                              <xs:attribute name="SqlFilter" type="xs:string" use="required" />
                                                            </xs:complexType>
                                                          </xs:element>
                                                        </xs:sequence>
                                                      </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="IsEventBus" type="xs:boolean" use="optional" />
                                                <xs:attribute name="Path" type="cqrs:AzureTopicPath" use="required" />
                                                <xs:attribute name="DuplicateDetectionHistoryTimeWindow" type="cqrs:TimeSpan" use="optional" default="00:10:00"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EventSourcing" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ConnectionString" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="OrdersTableName" type="cqrs:WindowsAzureTableName" minOccurs="1" maxOccurs="1" />
                            <xs:element name="SeatsAvailabilityTableName" type="cqrs:WindowsAzureTableName" minOccurs="1" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MessageLog" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ConnectionString" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="TableName" type="cqrs:WindowsAzureTableName" minOccurs="1" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BlobStorage" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ConnectionString" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="RootContainerName" type="cqrs:AzureContainerName" minOccurs="1" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="WindowsAzureTableName">
        <xs:restriction base="xs:string">
            <!-- There is no way to annotate or render a more user-friendly error when pattern matching fails -->
            <xs:pattern value="^[A-Za-z][A-Za-z0-9]{2,62}$" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AzureTopicPath">
        <xs:restriction base="xs:string">
            <!-- Regex inferred from: http://msdn.microsoft.com/en-us/library/windowsazure/hh767287(v=vs.103).aspx and trial/error -->
            <xs:pattern value="^[A-Za-z0-9.-_]{2,260}$" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AzureSubscriptionName">
        <xs:restriction base="xs:string">
            <!-- Regex inferred from trial & error messages from Azure (i.e. max length, invalid chars, etc.) -->
            <xs:pattern value="^[A-Za-z0-9-_][A-Za-z0-9.-_]{1,49}$" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AzureContainerName">
        <xs:restriction base="xs:string">
            <!-- There is no way to annotate or render a more user-friendly error when pattern matching fails -->
            <!-- Consecutive dashes are not allowed -->
            <xs:pattern value="^[a-z][-a-z0-9]{2,62}$" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TimeSpan">
        <xs:restriction base="xs:string">
            <!-- Simplified regex to validate up to 23:59:59 -->
            <xs:pattern value="^[0-2][0-3]:[0-5][0-9]:[0-5][0-9]$" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
