source/Infrastructure/Azure/Settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="urn:microsoft-patterns-and-practices-cqrsjourney"
           xmlns:cqrs="urn:microsoft-patterns-and-practices-cqrsjourney">
    <xs:element name="InfrastructureSettings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ServiceBus" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ServiceUriScheme" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="ServiceNamespace" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="ServicePath" minOccurs="1" maxOccurs="1" />
                            <xs:element name="TokenIssuer" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="TokenAccessKey" type="xs:string" minOccurs="1" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EventSourcing" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ConnectionString" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="TableName" type="cqrs:AzureTableName" minOccurs="1" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MessageLog" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ConnectionString" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="TableName" type="cqrs:AzureTableName" minOccurs="1" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="AzureTableName">
        <xs:restriction base="xs:string">
            <!-- There is no way to annotate or render a more user-friendly error when pattern matching fails -->
            <xs:pattern value="^[A-Za-z][A-Za-z0-9]{2,62}$" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>